# 开发文件
.vscode/**
.vscode-test/**
src/**
out/**
scripts/**
node_modules/**
.gitignore
.gitattributes
.editorconfig

# 构建相关
tsconfig.json
esbuild.js
*.map

# 文档和配置
*.md
.eslintrc.json
.prettierrc

# 其他
yarn.lock
package-lock.json
.DS_Store

# 保留必要的桥接层资源
!src/webview-bridge/**
